.notfound {
  position: absolute;
  top: 50%;
  font-size: 22px;
  color: #ccc;
  text-align: center;
  transform: translateY(-50%);
  width: 100%;

  p {
    margin: 0;
  }

  .icon {
    font-size: 62px;
  }
}

.Content {
  display: flex;
  flex: 1 1;
  position: relative;
  order: 2;

  .base-content {
    margin-top: -1px;
    position: relative;
    overflow: hidden;
    &:focus {
      outline: 0;
    }
  }
}


.leaflet-container {
  width: 100%;
  flex: 1;
}